@model List<LivroModel>

<div class="container">
    <div class="row justify-content-center mt-5">
        <h2 class="text-center text-success">Lista de livros</h2>
        <div class="row mt-3">
            @if (Model.Any())
            {
                @foreach (var livro in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card border-success" style="max-width: 20rem;">
                            <div class="card-header d-flex justify-content-between">
                                @livro.genero
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@livro.titulo</h4>
                                <p class="card-text">@livro.sumario</p>
                                <div class="card-action d-flex justify-content-between">
                                    <div class="justify-content-around">
                                        <a asp-action="ObterLivro" asp-route-id="@livro.id" class="btn btn-warning btn-sm" data-livro-id="@livro.id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                            </svg>
                                        </a>
                                        <a asp-action="Excluir" asp-route-id="@livro.id" class="btn btn-warning btn-sm excluir-livro" data-livro-id="@livro.id" data-toggle="modal" data-target="#confirmacaoModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </a>
                                        <div class="modal" id="confirmacaoModal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Apagar livro</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Tem certeza que deseja excluir esta livro?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" id="confirmarExclusao">Confirmar</button>
                                                        <button type="button" class="btn btn-secondary" id="cancelarExclusao" data-bs-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <p class="text-center">Você não tem nenhuma livro cadastrado.</p>
            }

        </div>

    </div>
    <div class="d-flex justify-content-center mt-4">
        <a asp-controller="Home" asp-action="Cadastrar" class="btn btn-primary btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            Novo livro
        </a>
    </div>
</div>
<script>

    $(document).ready(function () {

        var livroid = null;

        $('.excluir-livro').click(function () {
            livroid = $(this).data('livro-id');
        });

        $('#confirmarExclusao').click(function () {
            if (livroid === null) {
                console.log('id do livro não definido.');
                return;
            }

            $.post('/Home/Excluir', { id: livroid }, function (result) {
                if (result.success) {
                    window.location.reload();
                } else {
                    alert("Erro ao excluir o livro.");
                }
            });

        });

        $("#cancelarExclusao").click(function () {
            window.location.reload();
        });

    });
</script>
